.App {
  background-color: #282c34;
  color: #ddd;
  text-align: center;
  height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  padding: 0 20px;
}

.App-header h1 {
  font-size: 42px;
}

.App-header p {
  margin: 5px 0;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App-link {
  color: #C4994F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
