.AutoComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AutoComplete label {
  display: block;
  font-size: 16px;
}

.AutoComplete input {
  border: 1px solid #666;
  box-shadow: 2px 4px 6px #333;
  color: #333;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
  height: 35px;
  width: 300px;
  -webkit-appearance: none;
}